{% comment %} Ця секція створена з копії apps.liquid {% endcomment %}
{% if section.blocks.size > 0 %}
  <div class="slider-product-proposal">
    <div class="page-width slider-product-proposal__container">
      <div class="slider-product-proposal__content">
        <h2 class="slider-product-poposal__title">Рекомендовані продукти</h2>
      </div>
      <div class="slider-product-proposal__slider">
        <div class="slider-product-proposal__slider-list">
          {% for block in section.blocks %}
            {% if block.settings.proposal_product != blank %}
              {% assign product = block.settings.proposal_product %}
              <div class="slider-product-proposal__slider-item">
                <a href="{{ product.url }}" class="slider-item__link">
                <div class="slider-item__image">
                    {{ product.images[0] | img_url: '400x' | img_tag: product.title, 'slider-item__picture' }}
                  </div>
                  <h4 class="slider-item__title">{{ product.title }}</h4>
                  {% if product.description != blank %}
                    <div class="slider-item__description">
                      {{ product.description | truncate: 100 }}
                    </div>
                  {% endif %}
                  <div class="slider-item__price">
                    {{ product.price | money }}
                  </div>
                  </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>

        {% comment %} Перемикачі слайдера {% endcomment %}
        <div class="slider-product-proposal__control">
          <button type="button" class="slick-arrow slick-prev control-prev">
            {% render 'left' %}
          </button>
          <button type="button" class="slick-arrow slick-next control-next">
            {% render 'right' %}
          </button>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% comment %} Підключені скрипти для роботи slick-слайдера https://kenwheeler.github.io/slick/ {% endcomment %}
{{ 'slick.css' | asset_url | stylesheet_tag }}
<script src="{{ 'jquery-3.6.3.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>

{% comment %} Підключення і стилізація прокрутки слайдів {% endcomment %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('#shopify-section-{{section.id}} .slider-product-proposal__slider-list').slick({
    infinite: true,
    slidesToShow: {{ section.settings.slider_items }},
    slidesToScroll: 1,
    speed: 500,
    arrows: true,

    {% comment %} Додається клас до кнопок слайдеру {% endcomment %}
    prevArrow: $('#shopify-section-{{section.id}} .control-prev'),
    nextArrow: $('#shopify-section-{{section.id}} .control-next'),

    {% comment %} Responsive
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: {{ section.settings.slider_items_tab }},
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 576,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]{% endcomment %}
    })
  });
</script>

{% schema %}
  {
    "name": "Slider Products",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "range",
        "id": "slider_items",
        "min": 1,
        "max": 5,
        "step": 1,
        "label": "Items in a row",
        "default": 2
      },
    {
      "type": "range",
      "id": "slider_items_tab",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "Items in a row",
      "default": 2
    },
    {
        "type": "range",
        "id": "slider_items_mob",
        "min": 1,
        "max": 5,
        "step": 1,
        "label": "Items in a row",
        "default": 1
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Proposal product",
        "settings": [
          {
            "type": "product",
            "id": "proposal_product",
            "label": "Our proposal Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slider Products"
      }
    ]
  }
{% endschema %}